h1{
  font-family:"Arial";
}
p{
  font-family: 'Metal Mania', cursive;;
}
/* 1em = 16px
  2em = 32px*/
body{
    font-size:20px; /*Default font size set */
  }
#two{
  font-size: 1.0em;
}
h1{
  text-align: center;
}
