/* Comment */
/* Shortcut for comment--> cmd+/ */
/* selected tag{
  property:value;
} */

h1{
  color: red;
}
li{
  color:rgb(25,140,125);
}
p{
  color:#59ad4e;
}
h4{
  color:rgba(25,140,125,0.5);
}
